/*Comments*/
/*selected tag{
    property: value;
}*/
h1{
    color: #268785;
    /*SEIHEKI color from nippon colors*/
}

li{
    color: #FB966E;
}

p{
    color: #C46243;
}

h4{
    color: #516E41;
}
